.expandedNote{
    resize:both;
    overflow:hidden;
    min-height:100px;
    min-width:250px;

    background-color: var(--surface);
    border: solid 1px var(--note-border);
    border-radius: var(--radius-sm);
    box-shadow: 0 1px 3px var(--note-shadow);

    display: flex;
    flex-direction: column;

    color:var(--text-primary);

    /* transition: var(--transition-fast); */
    position: absolute;
    gap: 10px;

    overflow-x: none;
    border: solid 1px var(--primary-other);
}

.expandedNote h3{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.titleInput{
    background-color: var(--surface-hover);
    border: none !important;
    font-size: 1.3em;
    font-weight: bold;
    text-overflow: ellipsis;
    min-width:20px;
    max-width:calc(100% - 60px);
}

.expandedNoteHeader{
    background-color: var(--surface-hover);
    border: none;
    border-bottom: solid 1px var(--note-border);
    transition: var(--transition-fast);
    display: flex;
    justify-content: space-between;
}

.textInput{
    flex:1;
    background-color: var(--surface);
    border-radius: var(--radius-sm);
    border:solid 1px var(--surface);
    transition: var(--transition-fast);
}

.textInput:focus, .titleInput:focus{
    outline:none;
    box-shadow: none;
}

.expandedNoteHeader:has(.titleInput:focus), .textInput:focus{
    border-color: var(--primary) !important;
}

.textInput:hover, .expandedNoteHeader:has(.titleInput:hover){
    border-color: var(--primary-other);
}

.expandedNote input{
    padding: 0;
    margin: 0;
    border-bottom: solid 1px var(--note-border);
    border-radius: 1px;
}

.expandedNote textArea{
    font-size: 1em;
}

.expandedNote .icon{
    width:2em;
    height:2em;
    color:var(--text-muted);
    transition: var(--transition-fast);
    border-radius:3px;
    padding:4px;
    margin-bottom:2px;
}

.expandedNote .icon:hover{
    cursor:pointer;
    color:var(--text-secondary);
    background-color: var(--surface);
}

.expandedNote .icons{
    display: flex;
    gap:0.1em;
    background-color: var(--surface-hover);
}

.expandedNoteDragPoint{
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    cursor:grab;
    background-color: var(--surface-hover);
    border-bottom: solid 1px var(--primary-other);
}

.expandedNoteDragPoint.grabbing{
    cursor:grabbing;
}

.expandedNoteNoDrag{
    display: flex;
    flex:1;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}